@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9edfc;
  height: 100vh;
}

.app {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 15px;
}

.navbar {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-image: url(./images/nav-bg.jpg);
}

.brand {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.logout {
  margin-right: 20px;
}

.title {
  padding-left: 10px;
  font-size: 25px;
  color: #f0f5f2;
  font-weight: 700;
}

.signin {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
}

.left-side > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.right-side {
  flex: 4;
  display: grid;
  place-items: center;
}

.right-side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 400px;
  background-color: white;
  border-radius: 10px;
}

.right-side-content > form {
  width: 100%;
}

.right-side-content > .title {
  color: #00098a;
  font-size: 25px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-field > input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.submit-button {
  margin-top: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f5f2;
  padding: 5px;
  cursor: pointer;
  color: #000;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

.scroll-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: #00098a 1px solid;
  margin-bottom: 20px;
}

.scroll-container-left {
  margin-right: 15px;
}
.scroll-container-right {
  width: 250px;
}

.loader {
  margin-bottom: 20px;
  font-weight: bold;
}
